.d3-svg {
    border: 1px solid #ccc;
    box-shadow: 5px 5px 20px #d9d9d9;
}

.chart-demand {
    position: relative;
    background: url(../static/img/demand-bg.png) no-repeat left top;
    background-color: #fff;
    font-size: 12px;
}

.demand-center {
    font-size: 14px;
    fill: #fff;
    text-anchor: middle;
}

.demand-tool-tip {
    position: absolute;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Microsoft YAHEI', Arial;
}